body {
	background-color: #FAFAFA;
}

.box {
    margin-top: 1em;
	margin-left: 1em;
	margin-right: 1em
    background-color: #FAFAFA;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    float: left;
    width: 85%;
    height: auto;
    position: absolute;
}


/* ************************************* TEAM ************************************** */
#team_info, #about {
	background-color: lightblue;
	padding: 0.5em;
	border-radius: 1em;
}
.media-object {
    border-radius: 5em;
}

p{
	margin-bottom: 0;
}

#about .media-object {
    border-radius: 0em;
}

.about {
	margin: 1em;
}
